<html>
	<body>
		<div id="app">
			<h2>Your role is: {{role}}</h2>
			<!-- idea pitch part -->
			<h3 v-show="role != 'Elon Musk'" id="showproblem">You need to solve this urgent problem: {{problem}}</h3>
			<h3 v-show="role == 'Elon Musk'">You need to come up with solutions without any context</h3>
			<label v-show="role != 'Problem Maker'">Submit a solution in 2 words or less: </label><input type="text" v-show="role != 'Problem Maker'" v-model="solution" @keyup.enter="submitsolution"> <button id="submitsolution" @click="submitsolution" v-show="role != 'Problem Maker'">Submit</button>
			<p v-for="idea in solutions">{{idea.player}}: {{idea.solution}}</p>
			<!-- guess who is Elon Musk -->
			<h3 v-show="vote == true">Guess which player is Elon Musk</h3>
			<div v-for="idea in solutions" v-show="vote == true" v-if="idea.player != player"><input type="radio"><label>{{idea.player}}</label></div>
		</div>
		<script src="https://vuejs.org/js/vue.js"></script>
		<script src="game.js"></script>
	</body>
</html>